
@{
    ViewBag.Title = "Profile Setup";
}

<h2>Profile Setup</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <section id="loginForm">
               @using (Html.BeginForm("ProfileSetup", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*<h2>@ViewBag.Title</h2>*@
                    <h4>Make your profile less boring.</h4>
                    <hr />
                    <div class="form-group">
                        @* @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                        <div class="col-md-10">
                            @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                        <div class="col-md-10">
                           
                            @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                }
            </section>

        </div>
    </div>
</div>


