body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.center{
    color: dodgerblue;
    text-align: center;
}
.center label{
    color: gray;
}

.login{
    width: 75%;
}

.USocial{
    margin-top: 0.5em;
    margin-left: 1em;
}

.USocialSub {
    margin-left: 1.75em;
    color: gold;
}

.container{
    margin-right: 0;
}